@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	background-color: #ececec;
}
.title {
	display: inline;
	font-size: 35px;
	font-weight: 550;
	float: left;
	padding-top: 55px;
	padding-left: 30px;
}

.flex {
	position: relative;
	margin: 0 auto;
	padding-top:10px;
	width: 1200px;
	height: 30px;
	text-align: right;
	color: dimgray;
	z-index: 2;
}
.flex a{text-decoration: none;}
.flex a:link {color: dimgray}
.flex a:visited {color: dimgray}

.main_top_list {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 90px;
	background-color: white;
	z-index: 2;
}
.logo, .logo a, .logo p, .top_list{display:inline;}
.logo{margin-left:30px;}
.logo img{margin-top:21px;}

.top_list{float:right;}
.main_top_list ul li {
	list-style-type: none;
	float: left;
	margin-left: 40px;
}
.main_top_list ul li a{
text-decoration: none;
font-size:17px;
font-weight:bold;
}
.main_top_list ul li a:link {
	color: black;
}

.main_top_list ul li a:visited {
	color: black;
}

.main_top_list ul li a {
	padding: 0 15px;
}

.top_list {
	padding-top: 35px;
	padding-right: 66px;
}

.container {
	width: 1200px;
	height: 140px;
	margin-top: 50px;
	margin-bottom: 0; 
	border-bottom : 2px solid #ececec;
	margin: 50px auto;
	background-color: white;
	border-bottom: 2px solid #ececec;
}

.content {
	width: 1200px;
	height: 700px;
	margin: 30px auto;
	background-color: white;
}
caption {
	padding-top: 0;
	padding-bottom: 30px;
	font-size: 30px;
}
.paging {
	text-align: center;
}
a { text-decoration: none; color: black;}
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

#QnA_list {
	border: 1;
	height: 350px;
	width: 900px;
	margin: 0 auto;
}
#FAQ_list {
	border: 1;
	height: 350px;
	width: 900px;
	margin: 0 auto;
}
#list_title {
	height: 100px;
	width: 200px;
}
.QnA_right {
	padding-right: 10px;
	padding-top: 5px;
	text-align: right;
	font-size: 18px;
}

#faq_view {
	padding-top: 30px;
	border: 1;
	height: 350px;
	width: 900px;
	margin: 0 auto;
}
.list td{
	border-bottom: 1px solid dimgray;
}

#bt_box{text-align: right;}
#button{
	margin: 0 auto;
	margin-top: 30px;
	margin-right: 30px;
	width:150px;
	height:50px;
	background: #ececec;
	background: #ececec;
	color: dimgray;
	font-size: 20px;
	text-align:center;
	border: none;
}
#button a{text-decoration: none};
#button a:link{color:dimgray;}
#button a:visited{color:dimgray;}
footer {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	margin-top:30px;
	background: orange;
	padding-top: 50px;
}
#footer_content{
	position: relative;
	width:1200px;
	margin: 0 auto;
}
footer p{text-align:center; color:#3D3D3D;}
#footer_head{margin:0 auto; width: 100%; font-size:17px;}
#footer_foot{margin:0 auto; padding-top:30px;}