@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}
html{
	height:100%;
}
body {
	margin: 0;
	background-color: #ececec;
}

.flex {
	position: relative;
	margin: 0 auto;
	padding-top:10px;
	width: 1200px;
	height: 30px;
	text-align: right;
	color: dimgray;
	z-index: 2;
}

.flex a {text-decoration: none;}
.flex a:link {color: dimgray;}
.flex a:visited {color: dimgray;}

.main_top_list {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 90px;
	background-color: white;
	z-index: 2;
}
.logo, .logo a, .logo p, .top_list{display:inline;}
.logo{margin-left:30px;}
.logo img{margin-top:21px;}

.top_list{float:right;}
.main_top_list ul li {
	list-style-type: none;
	float: left;
	margin-left: 40px;
}
.main_top_list ul li a{
text-decoration: none;
font-size:17px;
font-weight:bold;
}
.main_top_list ul li a:link{color: black;}
.main_top_list ul li a:visited{color: black;}
.main_top_list ul li a{padding:0 15px;}

.top_list{
padding-top:35px;
padding-right:66px;
}

.container{
	width: 1200px;
	height: 140px;
	margin: 0 auto;
	margin-bottom: 0;
	background-color: white;
	border-bottom: 2px solid #ececec;
}

.subject {
	width: 1200px;
	height: 140px;
}

.title {
	display:inline;
	font-size: 35px;
	font-weight: 550;
	float: left;
	padding-top: 55px;
	padding-left: 30px;
}

.title:after {
	clear: left;
}

.content {
	width: 1200px;
	height: 900px;
	margin: 30px auto;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.content fieldset{
	width:600px;
	height:250px;
	padding-top: 50px;
	margin:30px;
	margin-bottom: 25px;
	border:2px solid #ececec;
}
#hist_buttons{
	float:right;
	display:inline;
	margin-top:100px;
}
.buttons{
	display:inline;
	width:100px;
	height:30px;
	background: #ececec;
	margin-right:30px;
	padding:8px 0;
}
#hello_id{
	width:350px;
	font-size: 30px;
	font-weight:500;
	margin-top:200px;
	margin-left: 50px;
	color: dimgray;
}
#hello_id p{margin:10px 0;}
#hello_id span{font-size:35px; color:orange;}

#fieldsets{position: relative; left:130px;}
.buttons a{text-decoration: none; padding:0 20px;}
.buttons a:link{color:dimgray;}
.buttons a:visited{color:dimgray;}

.fieldset_title{
	font-size: 25px;
	margin-top: 50px;
	padding-left: 30px;
}
fieldset .input{
	width: 450px;
	height: 40px;
	font-size: 20px;
	margin-top: 27px;
	margin-left:70px;
}
#mn_frm .input{margin-bottom:20px;text-align: right;}

#before_money{
	font-size:20px;
	color: gray;
	padding-left: 160px;
}
#after_money{
	font-size:25px;
	color: gray;
	padding-left: 250px;
}
fieldset input[type="submit"], input[type="button"]{
	width:200px;
	height: 40px;
	border: 0;
	font-size:20px;
	color: dimgray;
	margin-left: 200px;
	margin-top: 20px;
}
#mn_frm input[type="submit"]{margin-top:20px;}
#member_out{margin-left:539px;}
footer {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	margin-top:30px;
	background: orange;
	padding-top: 50px;
}
#footer_content{
	position: relative;
	width:1200px;
	margin: 0 auto;
}
footer p{text-align:center; color:#3D3D3D;}
#footer_head{margin:0 auto; font-size:17px;}
#footer_foot{margin:0 auto; padding-top:30px;}