@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}
html{
	height:100%;
}
body {
	margin: 0;
	background-color: #ececec;
}

.flex {
	position: relative;
	margin: 0 auto;
	padding-top:10px;
	width: 1200px;
	height: 30px;
	text-align: right;
	color: dimgray;
	z-index: 2;
}

.flex a {text-decoration: none;}
.flex a:link {color: dimgray;}
.flex a:visited {color: dimgray;}

.main_top_list {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 90px;
	background-color: white;
	z-index: 2;
}
.logo, .logo a, .logo p, .top_list{display:inline;}
.logo{margin-left:30px;}
.logo img{margin-top:21px;}

.top_list{float:right;}
.main_top_list ul li {
	list-style-type: none;
	float: left;
	margin-left: 40px;
}
.main_top_list ul li a{
text-decoration: none;
font-size:17px;
font-weight:bold;
}
.main_top_list ul li a:link{color: black;}
.main_top_list ul li a:visited{color: black;}
.main_top_list ul li a{padding:0 15px;}

.top_list{
padding-top:35px;
padding-right:66px;
}

.container{
	width: 1200px;
	height: 140px;
	margin: 50px auto;
	margin-bottom: 0;
	background-color: white;
	border-bottom: 2px solid #ececec;
}

.subject {
	width: 1200px;
	height: 140px;
}

.title {
	display:inline;
	font-size: 35px;
	font-weight: 550;
	float: left;
	padding-top: 55px;
	padding-left: 30px;
}

.title:after {
	clear: left;
}

.content {
	width: 1200px;
	height: 700px;
	margin: 30px auto;
	background-color: white;
}
#list_head{
	margin-top:30px;
	border:1px solid #ececec;
	color: dimgray;
}
fieldset{
	margin:0 auto;
	width:868px; 
	border:1px solid #ececec;
}
.content table{
	text-align: center;
	margin:0 auto;
}
th{font-size:20px;}
td a{text-decoration: none;}
td a:link{color:black;}
td a:visited{color:black;}
footer {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	margin-top:30px;
	padding-top: 50px;
	background: orange;
}
footer p{text-align:center; color:#3D3D3D;}
#footer_head{width:1200px; margin:0 auto; font-size:17px;}
#footer_foot{margin:0 auto; padding-top:30px;}